<nav class="block">
  <div class="flex p-4 flex-col sm:flex-row">
    <div
      class="flex-1 text-center pt-4 sm:p-0 hover:bg-gray-200 dark:hover:bg-gray-600"
    >
      <a class="" routerLink="page1" routerLinkActive="active">Page 1</a>
    </div>
    <div
      class="flex-1 text-center pt-4 sm:p-0 hover:bg-gray-200 dark:hover:bg-gray-600"
    >
      <a routerLink="page2" routerLinkActive="active">Page 2</a>
    </div>
    <div
      class="flex-1 text-center pt-4 sm:p-0 hover:bg-gray-200 dark:hover:bg-gray-600"
    >
      <a routerLink="page3" routerLinkActive="active">Page 3</a>
    </div>
  </div>
</nav>
