<!-- dummy datepicker so I get to play with data -->
<div class="flex m-2 dark:text-gray-200">
  <div class="flex flex-col w-28 m-2">
    <label>monthColumns:</label>
    <input
      class="m-2 p-2 dark:text-gray-800"
      type="number"
      min="1"
      value="{{ config.monthColumns }}"
      (input)="setColumn('monthColumns', $event)"
    />

    <label>monthRows:</label>
    <input
      class="m-2 p-2 dark:text-gray-800"
      type="number"
      min="1"
      value="{{ config.monthRows }}"
      (input)="setColumn('monthRows', $event)"
    />
  </div>

  <div class="flex flex-col w-28 m-2 ml-10">
    <label>rowHeight:</label>
    <input
      class="m-2 p-2 dark:text-gray-800"
      type="number"
      min="1"
      value="{{ config.rowHeight }}"
      (input)="setColumn('rowHeight', $event)"
    />

    <label>monthWidth:</label>
    <input
      class="m-2 p-2 dark:text-gray-800"
      type="number"
      min="1"
      value="{{ config.monthWidth }}"
      (input)="setColumn('monthWidth', $event)"
    />
  </div>


  <div class="flex flex-col w-28 m-2 ml-10">


    <label>monthMargin:</label>
    <input
      class="m-2 p-2 dark:text-gray-800"
      type="number"
      min="1"
      value="{{ config.monthMargin }}"
      (input)="setColumn('monthMargin', $event)"
    />
  </div>
</div>

<cal-viewer
  class="dark:text-white dark:border-gray-200"
  [config]="config"
></cal-viewer>
