<!-- dummy datepicker so I get to play with data -->
<div class="flex m-2 dark:text-gray-200">
  <div class="flex flex-col w-28 m-2">
    <label>monthColumns:</label>
    <input
      class="m-2 p-2 dark:text-gray-800"
      type="number"
      min="1"
      value="{{ config.monthColumns }}"
      (input)="setColumn('monthColumns', $event)"
    />

    <label>monthRows:</label>
    <input
      class="m-2 p-2 dark:text-gray-800"
      type="number"
      min="1"
      value="{{ config.monthRows }}"
      (input)="setColumn('monthRows', $event)"
    />
  </div>

  <div class="flex flex-col w-28 m-2 ml-10">
    <label>cellHeight:</label>
    <input
      class="m-2 p-2 dark:text-gray-800"
      type="number"
      min="1"
      value="{{ config.cellHeight }}"
      (input)="setColumn('cellHeight', $event)"
    />

    <label>cellWidth:</label>
    <input
      class="m-2 p-2 dark:text-gray-800"
      type="number"
      min="1"
      value="{{ config.cellWidth }}"
      (input)="setColumn('cellWidth', $event)"
    />
  </div>

  <div class="flex flex-col w-28 m-2 ml-10">
    <label>monthMargin:</label>
    <input
      class="m-2 p-2 dark:text-gray-800"
      type="number"
      min="1"
      value="{{ config.monthMargin }}"
      (input)="setColumn('monthMargin', $event)"
    />

    <label>start sunday:</label>
    <input
      class="m-2 p-2 dark:text-gray-800"
      type="checkbox"
      min="1"
      value="{{ config.weekStartsOnSunday }}"
      (change)="setColumn('weekStartsOnSunday', $event)"
    />
  </div>

  <div class="flex flex-col w-28 m-2 ml-10">
    <label>month: (0-11)</label>
    <input
      class="m-2 p-2 dark:text-gray-800"
      type="number"
      min="0" max="11"
      value="{{ config.month }}"
      (input)="setColumn('month', $event)"
    />

    <label>year: YYYY</label>
    <input
      class="m-2 p-2 dark:text-gray-800"
      type="number"
      min="1900"
      value="{{ config.year }}"
      (input)="setColumn('year', $event)"
    />
  </div>

</div>

<cal-viewer
  class="dark:text-white dark:border-gray-200"
  [config]="config"
></cal-viewer>
