.cal-row {
    display: flex; 
    justify-content: space-between;
}

.cal-day-header{
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.cal-title{
    text-align: center;
    font-weight: 700;
}
