<div [ngStyle]="currentStyles">
  <div class="cal-title">{{ monthTitle }}</div>
  <div class="cal-row cal-day-header">
    <ng-container *ngFor="let dayHeader of dayHeaders">
      <cal-header-block [name]="dayHeader" [config]="config"></cal-header-block>
    </ng-container>
  </div>
  <div class="cal-row" *ngFor="let rows of dayOffset">
    <ng-container *ngFor="let col of rows">
      <cal-week-block
        [selectedDates]="selectedDates"
        [day]="col"
        [firstDate]="firstDate"
        [config]="config"
      ></cal-week-block>
    </ng-container>
  </div>
</div>
