:host {
  display: block;
  text-align: center;
  span {
    margin: auto;
  }

  /* TODO- change, this will not work well with theme.. */

  [data-correct-month="true"]:hover {
    background-color: #111827;
  }
}
